
/****** Object:  StoredProcedure [dbo].[etl_FactScan]    Script Date: 12/18/2015 9:48:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS ( SELECT  *
            FROM    sys.objects
            WHERE   object_id = OBJECT_ID(N'etl_FactScan')
                    AND type IN ( N'P', N'PC' ) ) 

DROP PROCEDURE  etl_FactScan
GO

CREATE PROCEDURE etl_FactScan
AS

/*****************************		DROP FactScan		*******************************/

BEGIN Try
    DROP TABLE bluebin.FactScan
END Try

BEGIN Catch
END Catch

/********************************		CREATE Temp Tables			******************************/

/*
SELECT COMPANY,
       DOCUMENT,
       LINE_NBR,
       Cast(CONVERT(VARCHAR, TRANS_DATE, 101) + ' '
            + LEFT(RIGHT('00000' + CONVERT(VARCHAR, ACTUAL_TIME), 4), 2)
            + ':'
            + Substring(RIGHT('00000' + CONVERT(VARCHAR, ACTUAL_TIME), 4), 3, 2) AS DATETIME) AS TRANS_DATE
INTO #ICTRANS
FROM   ICTRANS a
       INNER JOIN bluebin.DimLocation b
               ON a.FROM_TO_LOC = b.LocationID
WHERE b.BlueBinFlag = 1

SELECT COMPANY,
       REQ_NUMBER,
       LINE_NBR,
       ITEM,
       REQ_LOCATION,
       ENTERED_UOM,
       QUANTITY,
       ITEM_TYPE,
       CREATION_TIME,
       Cast(CONVERT(VARCHAR, CREATION_DATE, 101) + ' '
            + LEFT(RIGHT('00000' + CONVERT(VARCHAR, CREATION_TIME), 8), 2)
            + ':'
            + Substring(RIGHT('00000' + CONVERT(VARCHAR, CREATION_TIME), 8), 3, 2)
            + ':'
            + Substring(RIGHT('00000' + CONVERT(VARCHAR, CREATION_TIME), 8), 5, 2) AS DATETIME) AS CREATION_DATE
INTO #REQLINE
FROM   REQLINE
WHERE  STATUS = 9
       AND KILL_QUANTITY = 0

SELECT a.SOURCE_DOC_N                                                                         AS REQ_NUMBER,
       a.SRC_LINE_NBR                                                                         AS LINE_NBR,
       MIN(Cast(CONVERT(VARCHAR, b.REC_DATE, 101) + ' '
            + LEFT(RIGHT('00000' + CONVERT(VARCHAR, UPDATE_TIME), 8), 2)
            + ':'
            + Substring(RIGHT('00000' + CONVERT(VARCHAR, UPDATE_TIME), 8), 3, 2)
            + ':'
            + Substring(RIGHT('00000' + CONVERT(VARCHAR, UPDATE_TIME), 8), 5, 2) AS DATETIME)) AS REC_DATE
INTO #POLINE
FROM   POLINESRC a
       INNER JOIN PORECLINE b
               ON a.PO_NUMBER = b.PO_NUMBER
                  AND a.LINE_NBR = b.PO_LINE_NBR 
GROUP BY
	a.SOURCE_DOC_N,
	a.SRC_LINE_NBR
*/

SELECT 'Caldwell' as COMPANY,
       sb.ScanBatchID as REQ_NUMBER,
       sl.Line as LINE_NBR,
       sl.ItemID as ITEM,
       sb.LocationID as REQ_LOCATION,
       sl.Qty as QUANTITY,
       'I' as ITEM_TYPE,
       sl.ScanDateTime as CREATION_TIME,
       sl.ScanDateTime AS CREATION_DATE
INTO #REQLINE
FROM   scan.ScanBatch sb
inner join scan.ScanLine sl on sb.ScanBatchID = sl.ScanBatchID


SELECT Row_number()
         OVER(
           Partition BY b.BinKey
           ORDER BY a.CREATION_DATE DESC) AS Scanseq,
       Row_number()
         OVER(
           Partition BY b.BinKey
           ORDER BY a.CREATION_DATE ASC) AS ScanHistseq,
		Row_number()
			OVER(
			Partition BY BinKey,left(a.CREATION_DATE,11)
			ORDER BY a.CREATION_DATE ASC) as OrderDayCt,
       a.COMPANY					AS OrderFacility,
	   b.BinKey,
       b.LocationID,
       b.ItemID,
       case when b.BinGoLiveDate = '' then '12-01-2015 00:00:00' else b.BinGoLiveDate end as BinGoLiveDate,
       a.ITEM_TYPE                   AS ItemType,
       a.REQ_NUMBER                  AS OrderNum,
       a.LINE_NBR                    AS LineNum,
       b.BinUOM as OrderUOM,
       a.QUANTITY                    AS OrderQty,
       a.CREATION_DATE               AS OrderDate,
       --CASE
       --  WHEN a.ITEM_TYPE = 'I' THEN e.TRANS_DATE
       --  WHEN a.ITEM_TYPE = 'N' THEN c.REC_DATE
       --  ELSE NULL
       --END                           
	   NULL AS OrderCloseDate
INTO   #tmpScan
FROM   #REQLINE a
       INNER JOIN bluebin.DimBin b
               ON a.ITEM = b.ItemID
                  AND a.REQ_LOCATION = b.LocationID
				  AND a.COMPANY = b.BinFacility  
				  
   --    LEFT JOIN #POLINE c 
			--ON a.REQ_NUMBER = c.REQ_NUMBER 
			--AND a.LINE_NBR = c.LINE_NBR
   --    LEFT JOIN #ICTRANS e
   --           ON a.COMPANY = e.COMPANY
   --              AND a.REQ_NUMBER = e.DOCUMENT
   --              AND a.LINE_NBR = e.LINE_NBR 


/***********************************		CREATE FactScan		****************************************/



SELECT a.Scanseq,
       a.ScanHistseq,
       a.BinKey,
       c.LocationKey,
       d.ItemKey,
       a.BinGoLiveDate,
       a.OrderNum,
       a.LineNum,
       a.ItemType,
       a.OrderUOM,
       Cast(a.OrderQty AS INT) AS OrderQty,
       a.OrderDate,
       a.OrderCloseDate,
       b.OrderDate             AS PrevOrderDate,
       b.OrderCloseDate        AS PrevOrderCloseDate,
       1                       AS Scan,
       CASE
         WHEN Datediff(Day, b.OrderDate, a.OrderDate) < 3 THEN 1
         ELSE 0
       END                     AS HotScan,
	   CASE
		WHEN a.OrderDayCt >=2 then 1 else 0 end as StockOut
       --CASE
       --  WHEN a.OrderDate < COALESCE(b.OrderCloseDate, Getdate())
       --       AND a.ScanHistseq > 2 THEN 1
       --  ELSE 0
       --END                     AS StockOut
INTO   bluebin.FactScan
FROM   #tmpScan a
       LEFT JOIN #tmpScan b
              ON a.BinKey = b.BinKey
                 AND a.Scanseq = b.Scanseq - 1
       LEFT JOIN bluebin.DimLocation c
              ON a.LocationID = c.LocationID	
			  AND a.OrderFacility = c.LocationFacility		
       LEFT JOIN bluebin.DimItem d
              ON a.ItemID = d.ItemID
		--INNER JOIN 
		--	(select BinKey, left(OrderDate,11) as [OrderDay],
		--		Row_number()
		--				 OVER(
		--				   Partition BY BinKey,left(OrderDate,11)
		--				   ORDER BY OrderDate ASC) as OrderDayCt from #tmpScan) as DB on a.BinKey = DB.BinKey and left(a.OrderDate,11) = DB.[OrderDay]





/*****************************************		DROP Temp Tables		*******************************/

DROP TABLE #REQLINE
--DROP TABLE #ICTRANS
--DROP TABLE #POLINE
DROP TABLE #tmpScan



